@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
:root {
    --black:rgb(10, 8, 8);
    --white:rgb(247, 242, 242);
    --grey:#141414;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:var(--grey);
    gap: 10rem;
}

#header {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 6px;
    background: rgb(10, 8, 8);
   
    padding: 0 1rem;
    height: 95px;
}

.headerSticky {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
    font-size: 1.8rem !important;
    height: 65px !important;
    transition: all 0.6s;
}

#header button {
    background-color:inherit;
    height: 100%;
    font-size: 1rem;
    border: none;
    color: white;
    letter-spacing: 3px;
    padding: 0 1rem;
    
}

#hero-image {
    background-image: url(images/library.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height:100vh ;
}
 
#grid-container { 
    display: grid;
    grid-template-columns: repeat(3,450px);
    gap: 2rem;
    align-self: center;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

#form-popup {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.5rem;
    background-color:var(--white);
    border-radius: 6px;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 533.6px;
}

#footer {
    background-color: var(--black);
    color: var(--white);
    font-size: 2rem;
    letter-spacing: 4px;
    padding: 2rem;
    text-align: center;
    margin-top: auto;
}

form div label {
 text-align: left;
 width: 80px;
 display: inline-block;
 font-size: 1rem;
 color: var(--black);
 margin-right: 0.5rem;
}

form div input {
    font-size: 1.2rem;
    padding: 0.4rem;
    margin-top: 10px;
    width: 100%;
    border: none;
    border-radius: 6px;
    color: var(--black);
}

 form div select {
    font-size: 1rem;
    padding: 0.5rem;
    margin-top: 10px;
    width: 200px;
    border-radius: 6px;
    border: none;
    background-color: var(--grey);
    color:var(--white);
}

form div button {
    background-color: var(--grey) ;
    font-size: 1rem;
    border:none;
    padding: 0.4rem;
    color: var(--white);
    border-radius: 6px;
    width: 120px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.hidden {
    display: none;
}

#btn-container {
    display: flex;
    justify-content:space-between;
    margin-top: 1rem;
}

.header-btn-container {
    height: 100%;
}

form div #pages {
 width: 65%;
 width: 200px;
}


.book-card {
    background-color: var(--white);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.book-card-text {
    padding: 1rem;
    font-size: 2rem;
    color: var(--black);
}

.book-card-btn {
    padding: 1rem 2rem;
    width: 60%;
    align-self: center;
    font-size: 1rem;
    background-color: var(--grey);
    color: var(--white);
    border-radius: 6px;
    border:none;
}